*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Roboto', sans-serif; */
}
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&display=swap');
/* body postion relative to make background video position absolute */
body{
    /* background-image: linear-gradient(120deg, rgba(220, 143, 156, 0.704)20% , rgba(255, 255, 0, 0)80%, rgb(249, 246, 246)90%, rgba(221, 27, 59, 0.086)95%, transparent); */
    position: relative;
}

.background-video2{
    position: absolute;
    bottom:0px;
    left:0px;
    z-index: -20;
    height:900px;
    width:100%;
    
    
}
/* -------navbar------- */
#navbar{
    width: 100%;
    /* height:6vw;  */
    background-color:rgba(222, 184, 135, 0.081);
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    left:0;
    padding: 0rem 4rem;
    /* z-index: 5; */
    }
#logo{
    width:11REM;
    height:5REM;
    overflow: visible;  
}

ul {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style-type:none;
}
ul li{
    display: inline-block;
}
ul li a{
    padding-right: 80px;
    text-decoration: none;
    color:rgb(52, 31, 4);
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
   font-size:30px;
   margin:1px;
   -webkit-text-stroke: 1px transparent;
}
#home-1::before{
    content:url("house.png");
    vertical-align: baseline;
    display: inline-block;
    margin:5px;
}
#baby::before{
    content:url("baby-girl\ \(1\).png");
    margin:2px;
    vertical-align: middle;
    display: inline-block;
    margin:5px;
}
#toddler::before{
    content: url("playtime.png");
    vertical-align: middle;
    display: inline-block;
    margin:5px;
}
#kindergarden::before{
    content: url("brother.png");
    vertical-align: middle;
    display: inline-block;
    margin:5px;
}
#contact::before{
    content: url("contact.png");
    vertical-align: sub;
    display: inline-block;
    margin:5px;
}

#home-1:hover,#baby:hover,#toddler:hover,#kindergarden:hover,#contact:hover
 {
    /* border:1px solid transparent; */
    border-radius: 50%;
    font-size:30px;
    background-color: transparent;
    -webkit-backdrop-filter:blur(50px);
    color:transparent;
    background-image: radial-gradient(blue 30%,yellow 50%,green 70%,orange);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;

}
#section-1{
    width:100%;
    height:50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

#home{
    width:100%;
    height:40vw; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 20px;  */
}

#simg2{
    width:21.25rem;
    height:30.25rem;
    border:1px solid transparent;
    border-radius:5%;
    box-shadow: 10px 10px 3px ,12px 12px 3px;
    /* margin-top:10px; */
    margin-left:50px;
}
#simg2:hover{
    transform: scale(1.01);
}
#d2{
    
    font-size:1.20rem; 
    width:40.75rem;
    /* margin-top:2.5rem; */
    text-align:center;


}
#d2 h1{
    /* padding-left:0.625rem; */
    /* margin:0.312rem; */
    font-size: 7.5rem;
    /* width:500px; */
    animation: animate 7s 2s infinite both alternate;
   -webkit-text-stroke: 1px yellowgreen;
   text-shadow: 5px 5px 2px rgb(49, 50, 47);
   transition:transform 1s ;
   font-family: 'Dancing Script', cursive;

}
#kid{
    color:blue;
    animation: animate 7s 2s infinite both alternate;

}
#kid:hover{
    color:currentColor;
}
#you{
    color:rgb(22, 159, 22);
    animation: animate 2s 5s infinite both alternate;

}
@keyframes animate{
    from{
        color:current-color;
    }
    to{
        color:rgba(224, 150, 12, 0.551);
    }
}
/* -----------section 1 background video------ */
.background_video{
    position: absolute;
    top:0;
    left:0px;
    z-index:-10;
    height:;
    width:100%;
    object-fit: cover;
    
}
/* ----section-2----- */
#s-2{
    margin-top:6vw;
    height:50vw;
    /* background-image:radial-gradient(rgb(223, 202, 206) 30%,rgba(255, 255, 0, 0.295) 80%,rgba(255, 0, 0, 0.026)90%,gray); */
    /* background-color: rgba(250, 235, 215, 0.364); */

}
#headline{
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke: 2px black;
    color:transparent;
    margin-bottom: 10px;
    background-image: linear-gradient(120deg,rgb(23, 191, 23) 30%,rgb(0, 13, 255) 50%,orange 90%,white);
    -webkit-background-clip: text;
    font-family: 'Fascinate', cursive;
        margin:4rem;
    animation: headline 3s 5s 2 forwards ease-in-out;


    
}

@keyframes headline {
    0%{
        transform: translatey(40px) ;
        
    }
   
    100%{
        transform:  translateY(-40px);
        border-bottom: 20px dotted blue;
    }
    
}
.advantage{
    text-align:center;
    margin:20px;
    padding:10px;
    letter-spacing: 1px;
    line-height:30px;
    /* border: 1px solid red;; */
    background-color:rgba(231, 128, 146, 0.337);
    border-radius: 20%  0% 20% 0%;
    box-shadow: 12px 12px 3px black;
    color:rgb(219, 17, 17);
    -webkit-text-stroke: 1px black;
    text-align:justify;
    width:300px;
    flex-wrap: wrap;
    min-width: 100px;
    font-family: 'Dancing Script', cursive;

}
#advantage{
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-direction:row;
    /* width:50%;
    margin:20px auto; */
    position: relative;

}
#heading1 , #heading2, #heading3{
 background-color: transparent;
 box-shadow: none;
 text-align: center;
 font-size: 30px;
 color:purple;
 text-shadow: 2px 2px 3px black ;
}


#s-3{
    height:60vw;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 300px;
    
    position: relative;
    
}
#s-3 h2{
    text-align: center;
}

.product{
    /* border:2px solid rgb(244, 237, 237); */
    /* box-shadow: 10px 10px 60px  black inset; */
    width:400px;
    height:500px;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    font-size: 30px;
    line-height: 50px;
    color:black;
    font-family: 'Dancing Script', cursive;
    /* box-shadow:  12px 12px 3px rgba(231, 5, 231, 0.126) inset ,-12px -12px 3px rgba(231, 5, 231, 0.126) inset; */
    padding: 20px;
     /* background: -webkit-linear-gradient(90deg, hsla(180, 33%, 88%, 1) 0%, hsla(310, 76%, 82%, 1) 50%, hsla(256, 83%, 72%, 1) 100%); */
}
#s-3 div ol li{
    list-style-type:none;
    text-align: center;
}
 button{
     position: absolute;
     bottom:50%;
     left:47%;
     background-color: rgba(0, 0, 255, 0.634);
     margin-top:30px;
     /* height:10rem; */
     border-radius: 20px;
     vertical-align: bottom;
     width:200px;

 }
#s-3 a {
    color:white;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}
footer {
    /* margin:-10px; */
    background-color: bisque;
    color:gray;
    font-weight: bold;
    font-size:20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
        /* height:2rem; */
}
    

